.speech
{
    color:black;
    font-size: medium;
}
.direction
{
    background-color:lavender;
    color: black;
    font-size:small;
}
.name {
    color:maroon
}
.direction:hover
{
    color:deeppink;
    background-color:lightpink;
    font-size: medium;
}
.MRSALVING {
    color:darkorchid;
}
.OSWALD {
    color:gold;
}
.REGINA {
    color:crimson;
}
.MANDERS {
    color:darkgreen;
}
table {
    border-color: black;
    width: 70%;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
th {
    border: 1px solid;
    border-radius: 5px;
    border-color:firebrick;
    color: white;
    height: 50px;
    background-color:hotpink;
}
td {
    border: 1px solid;
    border-radius: 5px;
    border-color:firebrick;
    height: 30px;
}

tr:hover {background-color:lightskyblue;}