.speech
{
    color:darkred;
    font-size: medium;
}
.direction
{
    background-color:lavender;
    color: black;
    font-size:small;
}
.name {
    color:maroon
}
.direction:hover
{
    color:deeppink;
    background-color:lightpink;
}
.MRSALVING {
    color:darkorchid;
}
.OSWALD {
    color:gold;
}
.REGINA {
    color:crimson;
}
.MANDERS {
    color:darkgreen;
}